flow.json
[{"id":"1b7b131d.2072c5","type":"tab","label":"IoT Flow","disabled":false,"info":""},{"id":"5d064dac.1546dc","type":"ibmiot","z":"","name":"IBM IoT config","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"2a62b7a4.e0b658","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"86b63d03.acc5b","type":"ui_tab","z":"","name":"Counter","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"bb001278.1600f8","type":"ui_group","z":"","name":"Current status","tab":"86b63d03.acc5b","order":1,"disp":true,"width":"6","collapse":false},{"id":"bcdab5b3.c013a","type":"ui_group","z":"","name":"History","tab":"86b63d03.acc5b","order":2,"disp":true,"width":"6","collapse":false},{"id":"f2f2649a.0d0d98","type":"debug","z":"1b7b131d.2072c5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":670,"y":200,"wires":[]},{"id":"3d89dd35.4d113a","type":"ibmiot in","z":"1b7b131d.2072c5","authentication":"apiKey","apiKey":"5d064dac.1546dc","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":true,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":150,"y":220,"wires":[["d6353fce.c8843"]]},{"id":"d6353fce.c8843","type":"json","z":"1b7b131d.2072c5","name":"toJSON","property":"payload","action":"obj","pretty":true,"x":320,"y":220,"wires":[["4347189f.b9764"]]},{"id":"4347189f.b9764","type":"function","z":"1b7b131d.2072c5","name":"add params","func":"msg.payload.time = new Date().getTime();\nmsg.payload.deviceId = msg.deviceId;\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":220,"wires":[["f2f2649a.0d0d98","c28ce67.a2f4f18","44a1b95e.b5bec","215ec9a0.25e716","c4de8092.d856e8"]]},{"id":"c28ce67.a2f4f18","type":"cloudant out","z":"1b7b131d.2072c5","name":"store evt","cloudant":"","database":"java_client","service":"EauDuPuid-cloudantNoSQLDB","payonly":true,"operation":"insert","x":660,"y":260,"wires":[]},{"id":"44a1b95e.b5bec","type":"switch","z":"1b7b131d.2072c5","name":"split level","property":"payload.count","propertyType":"msg","rules":[{"t":"eq","v":"2","vt":"num"},{"t":"eq","v":"4","vt":"num"},{"t":"eq","v":"6","vt":"num"},{"t":"gte","v":"8","vt":"num"}],"checkall":"false","repair":false,"outputs":4,"x":660,"y":360,"wires":[["b30efae.bad8708"],["39d5cf3f.4d4e98"],["a1167ede.32dc18"],["a71ba4b.5f36ad8"]]},{"id":"b30efae.bad8708","type":"template","z":"1b7b131d.2072c5","name":"level 1","field":"payload.status","fieldType":"msg","format":"handlebars","syntax":"plain","template":"Level One reached","output":"str","x":890,"y":340,"wires":[["3151f220.1ea2ee"]]},{"id":"39d5cf3f.4d4e98","type":"template","z":"1b7b131d.2072c5","name":"level 2","field":"payload.status","fieldType":"msg","format":"handlebars","syntax":"plain","template":"Level 2 reached","output":"str","x":890,"y":400,"wires":[["3151f220.1ea2ee"]]},{"id":"a1167ede.32dc18","type":"template","z":"1b7b131d.2072c5","name":"level 3","field":"payload.status","fieldType":"msg","format":"handlebars","syntax":"plain","template":"Level Three reached","output":"str","x":890,"y":460,"wires":[["3151f220.1ea2ee"]]},{"id":"a71ba4b.5f36ad8","type":"template","z":"1b7b131d.2072c5","name":"level max","field":"payload.status","fieldType":"msg","format":"handlebars","syntax":"plain","template":"Level Max reached","output":"str","x":900,"y":520,"wires":[["3151f220.1ea2ee"]]},{"id":"3151f220.1ea2ee","type":"rbe","z":"1b7b131d.2072c5","name":"on status change","func":"rbe","gap":"","start":"","inout":"out","property":"payload.status","x":1160,"y":400,"wires":[["cf33cf7.fb1a2b","c95007ec.e4b77"]]},{"id":"cf33cf7.fb1a2b","type":"debug","z":"1b7b131d.2072c5","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1260,"y":500,"wires":[]},{"id":"c95007ec.e4b77","type":"ui_text","z":"1b7b131d.2072c5","group":"bb001278.1600f8","order":0,"width":0,"height":0,"name":"status text","label":"status","format":"{{msg.payload.status}}","layout":"row-spread","x":1120,"y":680,"wires":[]},{"id":"215ec9a0.25e716","type":"function","z":"1b7b131d.2072c5","name":"counter","func":"msg.payload = msg.payload.count; \nmsg.topic = msg.deviceId + \" count\"; \nreturn msg;\n","outputs":1,"noerr":0,"x":670,"y":480,"wires":[["82628c18.c46c7"]]},{"id":"82628c18.c46c7","type":"ui_chart","z":"1b7b131d.2072c5","name":"count chart","group":"bcdab5b3.c013a","order":0,"width":0,"height":0,"label":"counter","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"10","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":680,"y":600,"wires":[[]]},{"id":"c4de8092.d856e8","type":"ui_gauge","z":"1b7b131d.2072c5","name":"status gauge","group":"bb001278.1600f8","order":1,"width":0,"height":0,"gtype":"gage","title":"count","label":"1","format":"{{msg.payload.count}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":700,"y":700,"wires":[]}]